doctype html
html(lang=culture.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    link(rel="stylesheet", href="/assets/css/main.min.css?v="+project.version)
    block styles
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    //- link(rel='shortcut icon', href=config.favicon)

    if (project.fbId)
      meta(property='fb:app_id', content=project.fbId)

    //- link(rel='publisher', href='https://facebook.com/'+ project.domain)
    meta(property='og:site_name', content=project.name)
    //- meta(property='og:updated_time', content=currentDate.toDate().toISOString())
    //- meta(property='og:locale', content=culture.language+'_'+culture.country.toUpperCase())

  body
    header#page-header
      .container
        block header_content
    main#page-main
      .container
        block main_content
    footer#page-footer
      .text-center
        small
          | Copyright by  
          a(href='https://github.com/entitizer') Entitizer  
          = (new Date()).getFullYear()
          | . Version  
          = project.version

    // Global Site Tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-44040169-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-44040169-1');

    block scripts
