doctype html
html(lang=culture.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    link(rel="stylesheet", href="/assets/css/main.min.css?v="+project.version)
    block styles
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    //- link(rel='shortcut icon', href=config.favicon)

    if (project.fbId)
      meta(property='fb:app_id', content=project.fbId)

    //- link(rel='publisher', href='https://facebook.com/'+ project.domain)
    meta(property='og:site_name', content=project.name)
    //- meta(property='og:updated_time', content=currentDate.toDate().toISOString())
    //- meta(property='og:locale', content=culture.language+'_'+culture.country.toUpperCase())

  body
    header#page-header
      .container
        block header_content
    main#page-main
      .container
        block main_content
    footer#page-footer

    block scripts
    
    //- script.
    //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //-   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //-   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //-   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    //-   ga('create', '#{config.googleAnalyticsId}', '#{config.domain}');
    //-   ga('set', 'dimension1', '#{project.name}');
    //-   ga('send', 'pageview');
